<!-- Hero -->
<div class="relative">
    <!-- Background Video -->
    <img src="assets/banner.jpg" class="absolute  w-full h-full object-cover -z-10 " />
     
   
    
    
    <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-40 relative z-10">
      <h1 class="font-semibold text-white text-5xl md:text-6xl">
        <span class="text-[#ff0]">Discover 

        </span> Your Perfect Stay
      </h1>
      <div class="max-w-4xl">
        <p class="mt-5 text-white text-lg  text-justify">
          Experience luxury and comfort at the best hotels around the world. Whether you're planning a relaxing getaway, a business trip, or a family vacation, find the perfect accommodation tailored to your needs. Book now and start your unforgettable journey today.        </p>
      </div>
    </div>
</div>
<!-- End Hero -->
